In [5]:
import sqlite3

db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE PAYMENT_METHODS (
    PAYMENT_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(30) NOT NULL,
    LAST_NAME VARCHAR(30) NOT NULL,
    CARD_NUMBER BIGINT NOT NULL,
    EXPIRATION_DATE DATE NOT NULL,
    CVV INT NOT NULL,
    ZIP_CODE INT NOT NULL,
    CHECK (CARD_NUMBER NOT LIKE '%[^0-9]%'),
    CHECK (CVV NOT LIKE '%[^0-9]%'),
    CHECK (ZIP_CODE NOT LIKE '%[^0-9]%')
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

OperationalError: table PAYMENT_METHODS already exists

In [6]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE PAYMENT_METHOD_SETS (
    PAYMENT_METHOD_SET_ID INT NOT NULL,
    PAYMENT_ID INT NOT NULL,
    FOREIGN KEY(PAYMENT_ID) REFERENCES PAYMENT_METHODS(PAYMENT_ID)
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [7]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE DELIVERY_ADDRESSES (
    ADDRESS_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(30) NOT NULL,
    LAST_NAME VARCHAR(30) NOT NULL,
    STREET_NAME_AND_NUMBER VARCHAR(50) NOT NULL,
    CITY VARCHAR(30) NOT NULL,
    COUNTRY VARCHAR(30) NOT NULL,
    ZIP_CODE VARCHAR(5) NOT NULL,
    CHECK (ZIP_CODE NOT LIKE '%[^0-9]%')
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [8]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE DELIVERY_ADDRESS_SETS (
    DELIVERY_ADDRESS_SET_ID INT NOT NULL,
    ADDRESS_ID INT NOT NULL,
    FOREIGN KEY(ADDRESS_ID) REFERENCES DELIVERY_ADDRESSES(ADDRESS_ID)
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [9]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE USERS (
    USER_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(30) NOT NULL,
    LAST_NAME VARCHAR(30) NOT NULL,
    USERNAME VARCHAR(30) NOT NULL,
    PASSWORD VARCHAR(30) NOT NULL,
    PHONE BIGINT,
    EMAIL VARCHAR(30),
    PAYMENT_METHOD_SET_ID INT,
    DELIVERY_ADDRESS_SET_ID INT,
    CHECK (PHONE NOT LIKE '%[^0-9]%'),
    CHECK (EMAIL LIKE '%@%')
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [11]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE GROCERY_STORES (
    STORE_ID INT PRIMARY KEY,
    NAME VARCHAR(50) NOT NULL,
    ADDRESS VARCHAR(100) NOT NULL,
    PHONE VARCHAR(10) NOT NULL,
    EMAIL VARCHAR(30),
    CHECK (PHONE NOT LIKE '%[^0-9]%'),
    CHECK (EMAIL  LIKE '%@%')
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [12]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE GROCERY_ITEMS (
    ITEM_ID INT,
    STORE_ID INT,
    NAME VARCHAR(30) NOT NULL,
    PRICE_PER_UNIT FLOAT(8) NOT NULL,
    MEASUREMENT_UNIT VARCHAR(10) NOT NULL,
    AVAILABLE_QUANTITY INT NOT NULL,
    PRIMARY KEY (ITEM_ID, STORE_ID),
    FOREIGN KEY(STORE_ID) REFERENCES GROCERY_STORES(STORE_ID),
    CHECK (PRICE_PER_UNIT  >= 0),
    CHECK (AVAILABLE_QUANTITY  >= 0)
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [13]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE GROCERY_ITEM_SETS (
    GROCERY_ITEM_SET_ID INT NOT NULL,
    ITEM_ID INT NOT NULL,
    STORE_ID INT NOT NULL,
    QUANTITY_ORDERED INT NOT NULL,
    FOREIGN KEY(ITEM_ID, STORE_ID) REFERENCES GROCERY_ITEMS(ITEM_ID, STORE_ID),
    FOREIGN KEY(STORE_ID) REFERENCES GROCERY_STORES(STORE_ID),
    CHECK (QUANTITY_ORDERED  > 0)
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [14]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE ORDERS (
    ORDER_ID INT,
    USER_ID INT,
    ARRIVAL_DATE DATE,
    ORDER_DATE DATE NOT NULL,
    PAYMENT_ID INT NOT NULL,
    ADDRESS_ID INT NOT NULL,
    GROCERY_ITEM_SET_ID INT,
    PRIMARY KEY(ORDER_ID, USER_ID),
    FOREIGN KEY(PAYMENT_ID) REFERENCES PAYMENT_METHODS(PAYMENT_ID),
    FOREIGN KEY(ADDRESS_ID) REFERENCES DELIVERY_ADDRESSES(ADDRESS_ID)
);
'''

cursor.execute(create_table_query)
connection.commit()
connection.close()

In [15]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO PAYMENT_METHODS VALUES 
    (1,'John','Write','1234567812345678','2024-12-17','123','10025'),
    (2,'Sam','Write','4234564378452736','2026-01-15','122','10025'),
    (3,'Helena','Write','1444255536664777','2025-12-10','153','10025'),
    (4,'Mary','Cohen','5243874562962516','2023-12-24','223','95290'),
    (5,'Kate','Flake','7634835276665342','2025-10-10','773','10026'),
    (6,'Lily','Exeter','5443776483541162','2030-06-23','524','20456'),
    (7,'Harry','Richards','6354987283541172','2024-02-15','428','30125'),
    (8,'Mary','Richards','6523435387654453','2031-03-17','735','03871'),
    (9,'Robin','Brown','0336452743947712','2024-02-16','627','10037'),
    (10,'Jennifer','Hoff','1111222233334444','2026-06-25','536','20527')
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [17]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO PAYMENT_METHOD_SETS VALUES 
    (1,1), 
    (1,2), 
    (1,3), 
    (2,4), 
    (3,5), 
    (4,6), 
    (5,7), 
    (5,8), 
    (6,9), 
    (7,10)
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [18]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO DELIVERY_ADDRESSES VALUES
    (1,'John','Write','154 Private Drive','New York','USA','10025'),
    (2,'Mary','Cohen','127 Broadway','New York','USA','95290'),
    (3,'Kate','Flake','1203 Honey Avenue','Miami','USA','10026'),
    (4,'James','Anniston','23 Princeton Road','Chicago','USA','20364'),
    (5,'James','Anniston','1002 Strawberry Street','Boston','USA','70253'),
    (6,'Lily','Exeter','502 Bredford Avenue','Washington','USA','20456'),
    (7,'Ted','Brian','2000 Lemon Road','Seattle','USA','30245'),
    (8,'Harry','Richards','1525 Fifth Avenue', 'San Francisco','USA','03871'),
    (9,'Jennifer','Hoff','408 Highway Road','Los Angeles','USA','20527')
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [19]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO DELIVERY_ADDRESS_SETS VALUES
    (1,1),
    (2,2),
    (3,3),
    (4,4),
    (4,5),
    (5,6),
    (6,7),
    (7,8),
    (8,9)
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [20]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO USERS VALUES 
    (1,'Adam','Smith','asmith','1234', '2025551234', 'as@gmail.com',null,null),
    (2,'John','Write','john.write','5678', '1234567890', 'jwr@gmail.com',1,1),
    (3,'Mary','Cohen','cohen2','abcd', '0614234162', 'mcohen@gmail.com',2,2),
    (4,'Kate','Flake','kf26','chocolate', '1012225367', 'kf@gmail.com',3,3),
    (5,'James','Anniston','james_a1960','1733DCsay', '0652586149', 'ja@gmail.com',null,4),
    (6,'Lily','Exeter','lexeter','cgzfdu', '1234561234', 'lilye@gmail.com',4,5),
    (7,'Ted','Brian','ted_brian','1gsc4', '1112223344', 'tbrian@gmail.com',null,6),
    (8,'Harry','Richards','harry.richards','c8j6hG', '1297450487', 'hrichard@gmail.com',5,7),
    (9,'Robin','Brown','rbrown','7890', '1759356634', 'rb@gmail.com',6,null),
    (10,'Jennifer','Hoff','jhoff','12345678', '5552836593', 'jh@gmail.com',7,8)
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [22]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO GROCERY_STORES VALUES 
    (1,'Trader Joe', '1002 Broadway New York, USA','1523741624',null),
    (2,'Target','20300 Columbus New York, USA','2739943604','ask@target.com'),
    (3,'CostCo', '2000 Hill Street, Miami USA','0235461724',null),
    (4,'Trader Joe', '203 Upper Street Chicago, USA','0257734653',null),
    (5,'Walmart', '1204 Fifth Street , Boston USA','2635436677',null),
    (6,'Walmart', '206 Mountain Avenue, Washington USA','1112229876',null),
    (7,'Whole Foods', '1050 Broadway Seattle, USA','2553884635',null),
    (8,'Wegmans', '2005 Hilton Road San Francisco, USA','2236453378',null),
    (9,'Target','248 , Los Angeles USA','7763453838','ask@target.com')
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [23]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''
INSERT INTO GROCERY_ITEMS VALUES 
    (1,1,'tomato',3,'lb',100),
    (2,1,'orange',4,'lb',80),
    (3,1,'lettuce',3,'unit',50),
    (1,2,'tomato',3.5,'lb',150),
    (2,2,'chicken breast',20,'lb',70),
    (1,3,'rice',10,'lb',30),
    (2,3,'pasta',9.5,'lb',35),
    (3,3,'flour',5.5,'lb',42),
    (1,4,'cucumber',3,'unit',50),
    (2,4,'onion',5,'lb',80),
    (1,5,'tomato',5.1,'lb',67),
    (1,6,'potato',3.7,'lb',100),
    (1,7,'milk',10.1,'lb',72),
    (1,8,'vanilla ice cream',12,'unit',53),
    (1,9,'lettuce',6,'unit',35),
    (2,9,'cucumber',5.5,'unit',105)
;
'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [ ]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

insert_values_query = '''

'''

cursor.execute(insert_values_query)
connection.commit()
connection.close()

In [16]:
db_file = 'fast_food_database.db'
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

query = '''
SELECT * FROM PAYMENT_METHODS;
'''
res = cursor.execute(query)
res.fetchall()

[(1, 'John', 'Write', 1234567812345678, '2024-12-17', 123, 10025),
 (2, 'Sam', 'Write', 4234564378452736, '2026-01-15', 122, 10025),
 (3, 'Helena', 'Write', 1444255536664777, '2025-12-10', 153, 10025),
 (4, 'Mary', 'Cohen', 5243874562962516, '2023-12-24', 223, 95290),
 (5, 'Kate', 'Flake', 7634835276665342, '2025-10-10', 773, 10026),
 (6, 'Lily', 'Exeter', 5443776483541162, '2030-06-23', 524, 20456),
 (7, 'Harry', 'Richards', 6354987283541172, '2024-02-15', 428, 30125),
 (8, 'Mary', 'Richards', 6523435387654453, '2031-03-17', 735, 3871),
 (9, 'Robin', 'Brown', 336452743947712, '2024-02-16', 627, 10037),
 (10, 'Jennifer', 'Hoff', 1111222233334444, '2026-06-25', 536, 20527)]